DB_HOST= localhost
DB_DIALECT= postgres
DB_USER= postgres
DB_PASS= user@123
DB_NAME= ekfc-fb-clone
DB_POOL_MAX = 10000
DB_POOL_MIN = 1
DB_POOL_AQUIRE = 30000
DB_POOL_IDLE = 10000


JWT_KEY = "My_Secret_Key_SathsaraW"
COOKIE_SECRET="SATHSARAW_COOKIE_SECRET"


PORT=8000


OAUTH_GOOGLE_CLIENT_ID=""
OAUTH_GOOGLE_CLIENT_SECRET=""
FIREBASE_STORAGE_BUCKET=""
